*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
package-lock.lock
package-lock.json
env.production.properties
env.stage.properties
env.properties
scripts/db/*
scripts/install/*
scripts/*.service.sh
server/boot/auto-migration*.*
server/boot/setup-demo-*.*
./dist
src/client

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*